
.container{
  max-width: 1024px;
  margin: auto;
}

.message{
  white-space: pre-wrap;
}

a{
  color: rgb(0, 188, 212);
  cursor: pointer;
}

.post{
  margin-top: 16px;
}

.post-footer{
  background-color: #f9f9f9;
}

.post-footer:empty{
  display:none;
}

.comment-wrapper{
  padding: 4px 16px;
}

.comment{
  background-color: #FFFFFF;
  border-radius: 8px;
  display: inline-block;
  font-size: 14px;
  padding: 12px;
}

.author{
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.showMoreComments{
  text-decoration: underline;
}

.showMoreComments:hover{
  text-decoration: none;
}

.loading{
  font-size: 2rem;
  text-align: center;
}

.load-more{
  background-color: rgba(0, 188, 212, 0.1);
  display: block;
  margin: 1rem 0;
  padding: 0.5rem;
  text-align: center;
}

.flex-video{
  background-color: #000000;
  position: relative;
}

.flex-video::before{
  content: "";
  display: block;
  padding-bottom: 56.25%;
}

.flex-video iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fb-post.fb_iframe_widget{
  display: block;
}

.fb-post.fb_iframe_widget span{
  display: block;
  margin: auto;
}